<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.vsoft.apps.vpicker"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:name="com.vsoft.apps.billing.SupportActivity"
            android:label="@string/activity_support_label" />
    </application>

</manifest>